
MovieReview/\.vs/

MovieReview/MovieReview/obj/

MovieReview/MovieReview\.BL/obj/

MovieReview/MovieReview/bin/

MovieReview/MovieReview\.BL/bin/

MovieReview/MovieReview\.Contracts/bin/

MovieReview/MovieReview\.Contracts/obj/

MovieReview/MovieReview\.DB/bin/

MovieReview/MovieReview\.DB/obj/
