<div class="background">
  <div class="global-width card margin-lr-auto rounded-0 border-0">
    <form [formGroup]="signUpForm" class="margin-lr-auto" (ngSubmit)="signUp()">
      <div class="form-group">
        <label for="signupUsername">Username</label>
        <input type="text" class="form-control" id="signupUsername" placeholder="Enter an Username" formControlName="txtUsername">
      </div>
      <div class="form-group">
        <label for="signupEmail">Email Address</label>
        <input pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*" type="email" class="form-control"
          id="signupEmail" placeholder="Enter your Email" formControlName="txtEmail">
      </div>
      <div class="form-group">
        <label for="signupPassword">Password</label>
        <input type="password" class="form-control" id="signupPassword" placeholder="Create a Password" formControlName="txtPassword">
      </div>
      <button class="d-dlex btn btn-primary" [disabled]="signUpForm.invalid">Sign Up</button>
    </form>
  </div>
</div>