<div class="background">
    <div class="global-width card margin-lr-auto rounded-0 border-0">
        <div class="row">
            <div class="col-md-3">
                <div class="card rounded-0">
                    <div class="card-header">New Releases</div>
                    <div class="list-group">
                        <div *ngFor="let movie of nowPlayingmovies; let i = index" class="list-group-item" [routerLink]="['/movie', movie.id]">
                            <img class="poster-size float-left align-middle" src="{{theMovieDBImagePath + movie.poster_path}}">
                            <div class="align-middle">
                                <span class="pl-2 d-flex text-truncate font-weight-bold">{{movie.title}}</span>
                                <small class="pl-2 text-muted">{{movie.release_date | date: "dd-MM-yyyy"}}</small><br>
                                <small class="pl-2">Rating: {{movie.score}}</small>
                            </div>
                        </div>
                        <div class="list-group-item text-center align-middle">
                            <a href="">See more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>